@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply dark;
}

.light {
  --color-bg-primary: #f0f0ef;
  --color-bg-secondary: #afaaa5;
  --color-text-primary: #4b433d;
  --color-text-secondary: #9a9180;
  --color-text-subtle: #919173;
  --color-accent: #a46576;

  /* code block related */
  --color-code-block: #adad99;
  --color-code-line-inserted: #06a787;
  --color-code-line-deleted: #f50f54;
  --color-code-line-highlight-bg: #f2e8de;
  --color-code-line-accent-border: #9d485f;
  --color-code-line-number: #6d5f55;
  --color-code-background-file: #d9d9ce;
}

.dark {
  --color-bg-primary: #0a122e;
  --color-bg-secondary: #a06172;
  --color-text-primary: #fdece8;
  --color-text-secondary: #f7c4b7;
  --color-text-subtle: #33548c;
  --color-accent: #dc8a8d;

  /* code block related */
  --color-code-block: #492c38;
  --color-code-line-inserted: #277c6b;
  --color-code-line-deleted: #99154a;
  --color-code-line-highlight-bg: #4c2f43;
  --color-code-line-accent-border: #db666a;
  --color-code-line-number: #b9a2a3;
  --color-code-background-file: #081544;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

/* mdx nested lists hack */
li > ul {
  margin-left: 20px;
}

li > ul > li {
  list-style-type: circle;
}
